{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouvel avis{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row mb-4">
        <div class="col">
            <h1 class="h3">Ajouter un nouvel avis</h1>
            <p class="text-muted">Créez un nouvel avis pour un bon plan</p>
        </div>
    </div>
    
    <div class="card shadow-sm">
        <div class="card-header bg-white">
            <h5 class="mb-0">Formulaire d'ajout</h5>
        </div>
        
        {{ include('reviewbonplan/_form.html.twig') }}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    .form-range::-webkit-slider-thumb {
        background: #0d6efd;
    }
    
    .form-range::-moz-range-thumb {
        background: #0d6efd;
    }
    
    .form-range::-ms-thumb {
        background: #0d6efd;
    }
</style>
{% endblock %}
