{% extends 'base.html.twig' %}

{% block title %}New ReviewBonPlan{% endblock %}

{% block body %}
    <h1>Create new ReviewBonPlan</h1>

    {{ include('reviewbonplan/_form.html.twig') }}

    <a href="{{ path('app_reviewbonplan_index') }}">back to list</a>
{% endblock %}
