{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<div class="container login-container">
    <div class="row">
        <div class="col-md-4 login-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="Logo">
            <h3>Email Sent</h3>
            <p>Check your inbox for the reset link</p>
        </div>
        <div class="col-md-8">
            <div class="login-form">
                <h3 class="login-heading">Password Reset Email Sent</h3>
                
                <div class="alert alert-success" role="alert">
                    <p>
                        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                        This link will expire in 1 hour.
                    </p>
                    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password') }}">try again</a>.</p>
                </div>
                
                <div class="register-link">
                    <p>Back to <a href="{{ path('login') }}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 