{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reset Password</h1>

    {{ form_start(requestForm) }}
        {{ form_widget(requestForm) }}
        <input type="submit" value="Request Reset" />
    {{ form_end(requestForm) }}

    <div class="register-link">
        <p>Remember your password? <a href="{{ path('login') }}">Login</a></p>
    </div>
{% endblock %}
