{% extends 'dashEntreprise/dashboardEntreprise.html.twig' %}

{% block title %}Bons Plans - Airmess Dashboard{% endblock %}

{% block body %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Gestion des Bons Plans</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="p-4">
            <p>Contenu de la page bons plans en cours de développement...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
