{% extends 'base.html.twig' %}

{% block title %}Modifier un commentaire{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1>Modifier le commentaire</h1>

        {{ include('commentaire/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <div class="mt-3">
            <a href="{{ path('app_social_media_show', {'idEB': commentaire.socialMedia.idEB}) }}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Retour au post
            </a>
        </div>
    </div>
{% endblock %}
