{% extends 'base.html.twig' %}

{% block title %}Edit SocialMedia{% endblock %}

{% block body %}
    <h1>Edit SocialMedia</h1>

    {{ include('social_media/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('socialVoyageurs_page') }}">back to list</a>

{% endblock %}
